# Byte-compiled / Cached files
__pycache__/
*.py[cod]
*.swp

# Virtual environments
venv/
env/

# Logs and databases
*.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Environment
.env
*.rest

# Datasets
db_dummy/

# Directories
main/
stg/