# Byte-compiled / Cached files
__pycache__/
*.py[cod]
*.swp

# Virtual environments
venv/
env/

# Logs and databases
*.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Environment
.env
*.rest
*.sh

# Datasets
db_dummy/

# Directories
main/
stg/
live/
lightning_logs/

# Python files
check_ip.py
connect_db.py
